* {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    background-color: black; /* Color de fondo actualizado */
    height: 40px;
    display: flex;
    padding-left: 0;
    border-bottom: 1px solid #12421f; /* Color del borde actualizado */
}

.menu ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    color: lightgray; /* Considera cambiar este color para mejor visibilidad */
    font-size: 1.3em; /* Tamaño de fuente actualizado */
    font-family: "Verdana";
    padding: 0 10px;
    text-transform: uppercase; /* Transformación del texto a mayúsculas */
}

.menu li ul li {
    width: auto; /* Ajusta el ancho automáticamente */
    text-align: center;
}

.menu li ul a {
    line-height: 40px;
    color: gray;
}

.menu li ul {
    display: none;
    position: absolute; /* Cambiado a absolute para el submenú */
    z-index: 1;
    background-color: gray;
    width: auto; /* Ajusta el ancho automáticamente */
    left: 0;
    top: 40px; /* Ajusta la posición debajo del elemento principal */
}

.menu li ul li:hover {
    background-color: #6987BF;
}

.menu li:hover ul {
    display: block;
}

.menu li:hover a {
    color: white;
}
