* {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    background-color: black; /* Color de fondo */
    height: 40px;
    display: flex;
    padding-left: 0;
    border-bottom: 1px solid #12421f; /* Color del borde */
    margin-bottom: 0; /* Asegurar que no haya margen en la parte inferior */
}

.menu ul li {
    position: relative; /* Posicionamiento relativo para los submenús */
    height: 100%;
    display: flex;
    align-items: center;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    color: white; /* Color del texto */
    font-size: 1.3em; /* Tamaño de fuente */
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Familia de fuentes actualizada */
    padding: 0 10px;
    text-transform: uppercase; /* Texto en mayúsculas */
}

.menu li ul {
    display: none;
    position: absolute; /* Posicionamiento absoluto para los submenús */
    background-color: black; /* Fondo de los submenús */
    width: auto; /* Ancho según el contenido */
    left: 0; /* Alinear a la izquierda del ítem del menú */
    top: 40px; /* Ubicar debajo del ítem del menú */
    white-space: nowrap; /* Evitar el salto de línea */
    z-index: 1000; /* Z-index para sobreponer sobre otros elementos */
}

.menu li ul li {
    width: auto; /* Ancho según el contenido */
    text-align: center;
    background-color: black; /* Asegurar el fondo de los submenús */
}

.menu li ul a {
    line-height: 40px;
    color: black; /* Color del texto en submenús */
    padding: 10px 20px; /* Padding para enlaces de submenús */
}

.menu li ul li:hover {
    background-color: #12421f; /* Color al pasar el ratón */
}

.menu li:hover > ul {
    display: block; /* Mostrar submenús al pasar el ratón */
}

.menu li:hover a {
    color: white; /* Color del texto al pasar el ratón */
}
.menu ul li a img {
    max-height: 30px; /* Ajusta esto según tus necesidades */
    width: auto; /* Mantiene la proporción de la imagen */
}