* {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none; /* Añadido para eliminar los puntos de la lista */
    background-color: #6987BF;
    height: 40px;
    display: flex; /* Cambiado para usar flexbox */
    padding-left: 0; /* Añadido para eliminar el padding por defecto de ul */
}

.menu ul li {
    height: 100%;
    display: flex; /* Usado flexbox aquí también */
    align-items: center; /* Alinea verticalmente el texto */
}

.menu ul li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    color: lightgray;
    font-size: 14px;
    font-family: "Verdana";
    padding: 0 10px; /* Añadido padding a izquierda y derecha */
}

.menu li ul li {
    width: auto; /* Ajusta el ancho automáticamente */
    text-align: center;
}

.menu li ul a {
    line-height: 40px;
    color: gray;
}

.menu li ul {
    display: none;
    position: absolute; /* Cambiado a absolute para el submenú */
    z-index: 1;
    background-color: gray;
    width: auto; /* Ajusta el ancho automáticamente */
    left: 0;
    top: 40px; /* Ajusta la posición debajo del elemento principal */
}

.menu li ul li:hover {
    background-color: #6987BF;
}

.menu li:hover ul {
    display: block;
}

.menu li:hover a {
    color: white;
}
